/**
 * Foglio di stile custom
*/


/* ----- General ----- */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    background-color:rgb(194, 55, 55);
    color: white;
    border: none;
    border-radius: 3px;
    margin: 5px;
    padding: 5px 15px;
}

button:disabled {
    background-color:rgb(250, 152, 152);
    pointer-events: none;
}

button:hover {
    background-color: rgb(110, 14, 14);
    cursor: pointer;
}

input[type="number"] {
    width: 50px;
}

h1, h3 {
    text-align: center;
    font-weight: normal;
}

h1 {
    font-size: xx-large;
}

h3 {
    font-size: large;
}

img.test-picture {
    width: 600px;
    border-radius: 10px;
}

/* ----- Centered container ----- */
div.center {
    text-align: center;
    display: block;
}

p.title {
    font-weight: bold;
    font-size: 100px;
    margin: auto;
    color: rgb(110, 14, 14);
}

p.subtitle {
    font-weight: normal;
    font-size: 50px;
}


/* ----- Card ----- */
div.card {
    background-color: rgb(238, 238, 238);
}

div.card:hover {
    background-color: rgb(221, 221, 221);
    cursor: pointer;
}


/* ----- Navbar ----- */
nav.navbar {
    margin-bottom: 10px;
}

nav.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(194, 55, 55);
    border-radius: 3px;
}
  
nav.navbar li {
  float: left;
}

nav.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav.navbar li a.disabled {
    color: rgb(117, 32, 32);
    pointer-events: none;
}

nav.navbar li a:hover {
    background-color: rgb(110, 14, 14);
    cursor: pointer;
}


/* ----- Form ----- */
form.form, div#tables-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div#tables-list-container {
    display: block;
    margin: auto;
}

div#tables-list-container input {
    width: 190px;
}

div#tables-list-container button {
    margin: auto;
    padding: 5px;
    background-color: transparent;
    color: red;
    font-weight: bold;
}
div#tables-list-container button:hover {
    color: rgb(110, 14, 14);
}

div#tables-list-container ul {
    list-style-type: none;
}

form.form input, form.form textarea, form.form select {
    font-size: medium;
    width: 200px;
    align-self: center;
    margin: 10px;
}

form.form textarea {
    height: 100px;
    resize: none;
}

form.form button {
    font-size: medium;
    padding: 10px 20px;
    align-self: center;
}

form.form input.hidden {
    display: none;
}


/* ----- Alert ----- */
span.alert {
    text-align: center;
    padding: 30px;
    border-radius: 3px;
    border-style: solid;
    margin: auto;
}

span.err-alert {
    background-color: rgb(255, 152, 152);
    border-color: rgb(179, 102, 102);
    color: rgb(114, 36, 36);
}
